TeaPot 0.2.1 . Last Updated Feb 15, 2013

Last Updated Feb 15, 2013
Installation updated to work with CF10 new defaults.
File Manager bug fixed. (Administrator)
jQuery version updated. (Administrator)
Blog edit media plugin updated to use Gists URLs. 

TeaPot 0.2 . Last Updated September 3, 2012
Advance file manager interface added to tinyMCE editor. Now you can include executable CFM pages to posts, attach CFM pages into code view, Embed MP3, PDF & video & manager images.

update Instructions:
/Administrator/js (overwrite)
/Administrator/bin/blogpost (overwrite)
/Administrator/bin/plugins/formating (delete & replace)
/warehouse/widgets/HonyPot_Trap.cfm  (overwrite)
/warehouse/history.config

TeaPot 0.1 . Last Updated October 04, 2011